<form [formGroup]="metadataFormGroup" (ngSubmit)="this.metadataFormSubmit()">
  <div class="container text-center">

    <div formGroupName="metadata" class="form-area">
      <div class="row align-items-start">
        <div class="col-12 mb-1 text-uppercase fs-5 fw-medium">
          {{title.data}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-1">
          <textarea class="form-control" [ngModel]="description.data" formControlName="fDescription"
            rows="15"></textarea>

            <div *ngIf="metadataFormDescription?.invalid && (metadataFormDescription?.dirty || metadataFormDescription?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="metadataFormDescription?.errors?.['required']">
                Description is required
              </div>

              <div *ngIf="metadataFormDescription?.errors?.['minlength']">
                Description must be at least 2 characters long
              </div>

          </div>


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-1">
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-label="Upload" />
          <button type="submit" class="btn btn-primary">
            Create
          </button>
        </div>
      </div>
    </div>

    <div formGroupName="metadataItemList" class="form-area">
      <div class="row">

        <div class="col-2">
          <div *ngIf="architectures.length > 0">
            <select class="form-select form-control-sm" [(ngModel)]="architecturesDdl" formControlName="fArchitecture">
              <option *ngFor="let architecture of architectures" [value]="architecture.metadata.id">
                {{ this.itemDescriptionFromList(architecture.metadata.id, architecture.metadata.data) }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-2">
          <div *ngIf="databases.length > 0">
            <select class="form-select form-control-sm" [(ngModel)]="databasesDdl" formControlName="fDatabase">
              <option *ngFor="let database of databases" [value]="database.metadata.id">
                {{ this.itemDescriptionFromList(database.metadata.id, database.metadata.data) }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-2">
          <div *ngIf="databasesEngineer.length > 0">
            <select class="form-select form-control-sm" [(ngModel)]="databasesEngineerDdl"
              formControlName="fDatabaseEngineer">
              <option *ngFor="let databaseEngineer of databasesEngineer" [value]="databaseEngineer.metadata.id">
                {{ this.itemDescriptionFromList(databaseEngineer.metadata.id, databaseEngineer.metadata.data) }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-2">
          <div *ngIf="databases.length > 0">
            <select class="form-select form-control-sm" [(ngModel)]="developmentEnvironmentsDdl"
              formControlName="fDevelopmentEnvironment">
              <option *ngFor="let developmentEnvironment of developmentEnvironments"
                [value]="developmentEnvironment.metadata.id">
                {{ this.itemDescriptionFromList(developmentEnvironment.metadata.id,
                developmentEnvironment.metadata.data) }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-2">
          <div *ngIf="databases.length > 0">
            <select class="form-select form-control-sm" [(ngModel)]="formsDdl" formControlName="fForm">
              <option *ngFor="let form of forms" [value]="form.metadata.id">
                {{ this.itemDescriptionFromList(form.metadata.id,
                form.metadata.data) }}
              </option>
            </select>
          </div>
        </div>

      </div>

    </div>
  </div>

</form>